/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');*/
@font-face {
    font-family: 'MontserratEB';
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'MontserratR';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'MontserratM';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'MontserratSB';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}